<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container">
  	<a class="navbar-brand" href="/"><i class="ss-ampersand"></i></a>

  	<ul class="nav navbar-nav navbar-right">
    	<li><a href="/writings"><i class="ss-files"></i>writings</a></li>
    	<li><a href="/bites"><i class="ss-frenchfries"></i>bites</a></li>
    	<li><a href="http://www.flickr.com/photos/3sunset/"><i class="ss-camera"></i>photos</a></li>
    	<li><a href="https://github.com/cbernardi"><i class="ss-code"></i>code</a></li>
    	<li><a href="https://www.behance.net/simplyand"><i class="ss-pencilspen"></i>portfolio</a></li>
    	<li><a href="https://twitter.com/simplyand"><i class="ss-twitter"></i>musings</a></li>
    	<!-- <li><a href="/hello"><i class="ss-glasses"></i>say hello</a></li> -->
  	</ul>
  </div>
</nav>