{% capture body %}
<body class="writings">
    <div id="wrap">
        {% include includes/header.html %}
    
	<article class="container">
	{% if page.type == 'page' %}
	 	<h1><i class="ss-files"></i></h1>
	  {% for post in posts %}
	  <section>
	    <header><a href="{{post.url}}">{{post.title}}</a></header>
	    	  <span class="post-date">{{post.date | date: "%b %d, %Y"}}</span>
	    	  <h5>{{post.meta.writing-brief.value}}</h5>
	   </section>	  
	  {% endfor %}
	 
	{% elsif page.type == 'post' %}
	<a href="{{parent.url}}" class="top-return"><i class="ss-files"></i></a>
	<section>
  	<header>{{title}}</header>
		<span class="post-date">{{date | date: "%b %d, %Y"}}</span>
		{{body}}
		<div class="share"></div>
	</section> 
	{% endif %}
	  

	</article>
	</div><!-- /wrap -->
{% endcapture %}

{% include layouts/default.html %}
